
@{
    ViewBag.Title = "T12002";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Apps/Budget/Setup/T12002Controller.js"></script>
<script src="~/Apps/Service/Service.js"></script>

<div class="" ng-controller="T12002Controller">
    @*header*@
    <div ng-show="loading" style="position: absolute; padding-left: 48%; margin-top: 60px; z-index: 1"><img src="~/Images/working1.gif" style="height: 50px;"></div>
    <div class="header">
        <span href="#default" class="logo">Period Setup</span>
        <div class="header-right">
            <a><span title="Save" ng-click="Save_Click()" class="glyphicon glyphicon-floppy-disk"></span></a>
            <a><span title="Clear" ng-click="Clear_Click()" class="glyphicon glyphicon-erase"></span></a>
            <a><span title="Print" ng-click="Print_Click()" class="glyphicon glyphicon-print"></span></a>
            <a><span title="Delete" ng-click="Delet_Click()" class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    @*===========*@
    <div style="margin-left:0px; margin-top:10px" class="row col-lg-12 col-md-12 col-sm-12">
        <table class="inputTable center" style=" width: 60%;">
            <tr>
                <td style=" width: 15%;">
                    <label id="lblCode" class="textlevel">Period Code</label>
                </td>
                <td style="width: 15%; text-align: left; ">
                    <input id="txtCode" type="text" ng-model="obj.T12002.T_PERIOD_CODE" class="form-control" readonly />
                </td>
                <td style=" width: 15%;">
                    <label id="lblName" class="textlevel">Period Name</label>
                </td>
                <td style="width: 35%; text-align: left; ">
                    <input id="txtName" type="text" ng-model="obj.T12002.T_PERIOD_NAME" class="form-control" />
                </td>
                <td style=" width: 10%;">
                    <label id="lblUm" class="textlevel">UM</label>
                </td>
                <td style="width: 10%; text-align: left; ">
                    <input id="txtUm" type="number" ng-model="obj.T12002.T_UM" class="form-control" />
                </td>
                @*<td style=" width: 10%;">
            <label id="lblStartDate" class="textlevel">Start Date</label>
        </td>
        <td style="width: 10%; text-align: left; ">
            <input id="txtStartDate" type="date" ng-model="obj.T_PERIOD_START_DATE" class="form-control" />
        </td>
        <td style=" width: 10%;">
            <label id="lblEndDate" class="textlevel">End Dete</label>
        </td>
        <td style="width: 10%; text-align: left; ">
            <input id="txtEndDate" type="date" ng-model="obj.T_PERIOD_END_DATE" class="form-control" />
        </td>*@
            </tr>
        </table>
        <hr style="margin-top: 5px !important; margin-bottom: 5px !important; border-top: 2px solid #076c93b0; " />
        <div style="width: 95%;">
            <table class="inputTable center" style=" width: 50%;">
                <tr><td style="text-align: -webkit-right;"> <input type="text" style="width:200px" ng-model="Search" placeholder="Search....." class="form-control" /></td></tr>
            </table>

            <table id="tblGrid" class="tTable center" style=" width: 50%;">
                <thead>
                    <tr style="color: black;background: #afadad" class="summary-table-header">
                        <th style="width: 20%;">Period Code</th>
                        <th style="width: 40%;">Period Name</th>
                        <th style="width: 20%;">Unit Of Month</th>
                        @*<th style="width: 20%;">End Date</th>*@
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="Z in obj.griDataList|filter:Search|itemsPerPage:10" $index pagination-id="dataList" ng-class="{'selected':$index == selectedRow}" ng-click="setProductRow($index,Z)" style="cursor:pointer">
                        <td style="width: 20%;">{{Z.T_PERIOD_CODE}}</td>
                        <td style="width: 40%; text-align: left; padding-left: 10px;">{{Z.T_PERIOD_NAME}}</td>
                        <td style="width: 20%; ">{{Z.T_UM}}</td>
                        @*<td style="width: 20%; ">{{Z.T_PERIOD_END_DATE}}</td>*@
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls pagination-id="details" max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>

        </div>
    </div>

</div>

