.tTable, .tTable td, .tTable th {
    border: 2px solid #8cc1ef;
    text-align: center;
    height: 25px;
    padding-left: 10px;
}

    .tTable th {
        background: #337ab7;
        color: white
    }

.tTable {
    border-collapse: collapse;
}
table.center {
    margin-left: auto;
    margin-right: auto;   
}
.selected {
    background-color: #80c8e4ba;
    /* color: white;*/
    font-weight: bold;
}
#textArea {
    min-width: 100%;
    max-width: 100%;
    min-height:200px;
    max-height:200px;
    margin-top: 30px;
}
.inputTable tr{
    /* border: 1px solid #076c93b0;*/
   height:40px;
}
.textlevel{
    text-align:right;
    width:90%;
}
.loder {
    position: absolute;
    padding-left: 50%;
    margin-top: 250px;
    z-index: 1111
}
.rqir {
    color: red;
    font-size: 20px;
}
.selected {
    background-color: #80c8e4ba;
    font-weight: bold;
}