
@{
    ViewBag.Title = "T19027";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Apps/Payroll/Transaction/T19027Controller.js"></script>
<script src="~/Apps/Service/Service.js"></script>

<div ng-controller="T19027Controller">
    @*header*@
    <div class="header">
        <span href="#default" class="logo">Bonus Verify</span>
        <div class="header-right">
            <a><span title="Save" ng-click="Save_Click()" class="glyphicon glyphicon-floppy-disk"></span></a>
            <a><span title="Clear" ng-click="Clear_Click()" class="glyphicon glyphicon-erase"></span></a>
            <a><span title="Print" ng-click="Print_Click()" class="glyphicon glyphicon-print"></span></a>
            @*<a><span title="Delete" ng-click="Delet_Click()" class="glyphicon glyphicon-trash"></span></a>*@
        </div>
    </div>
    @*===========*@
    <div style="margin-left: 0px; margin-top: 10px" class="row col-lg-12 col-md-12 col-sm-12">
        <table style="display: flex; justify-content: center; width: 100%;">
            <tr>
                <td>
                    <label class="textlevel">Verify</label>
                </td>
                <td>
                    <input type="checkbox" style="margin-left:10px;" ng-model="obj.T19027.T_VERIFY_FLAG" ng-true-value="'1'" ng-false-value="''" />
                </td>
            </tr>
        </table>
        <hr style="margin-top: 5px !important; margin-bottom: 5px !important; border-top: 2px solid #076c93b0; " />

        <div style="display: flex; justify-content: center; width: 100%;">
            @*1st table start*@
            <div style="width: 50%; padding: 10px;">
                <table id="tblGrid" class="tTable" style=" width: 100%;">
                    <thead>
                        <tr style="color: black;background: #afadad" class="summary-table-header">
                            <th style="width: 5%;">SL</th>
                            <th style="width: 5%;">Emp Code</th>
                            <th style="width: 10%;">Emp name</th>
                            <th style="width: 5%;">Gross Salary</th>
                            <th style="width: 10%;">Bonus Amount</th>
                            <th style="width: 10%;">Payable</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="Z in obj.griDataList|filter:Search|itemsPerPage:10" $index pagination-id="details" ng-class="{'selected':$index == selectedRow}">
                            <td style="width: 5%;">{{ $index + 1 }}</td>
                            <td style="width: 5%; text-align: left;">{{Z.T_EMP_CODE}}</td>
                            <td style="width: 10%; text-align: left;">{{Z.T_EMP_NAME}}</td>
                            <td style="width: 10%; text-align: left;">{{Z.T_SALARY_GROSS}}</td>
                            <td style="width: 10%; text-align: left;">{{Z.BONUS_AMOUNT}}</td>
                            <td style="width: 10%; text-align: left;">{{Z.T_SALARY_PAYABLE}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls pagination-id="details" max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>
            @*1st table end*@
        </div>
    </div>
</div>

